* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

body {
    background-color: rgba(0, 0, 0, 0.034);
}

/*--- common class ---/--- shared styles---*/
.btn {
    font-size: 18px;
    font-weight: bolder;
    background-color: #006A50;
    color: #FFFFFF;
    border-style: none;
    border-radius: 6px;
    padding: 12px;
}

.btn:hover {
    background-color: #FFFFFF;
    color: #006A50;
    cursor: pointer;
    border: 0.6px solid rgba(0, 0, 0, 0.306);
}

.common-heading {
    padding: 24px 24px 12px;
    font-size: 20px;
    font-weight: bold;
    color: #0E0E0E;
}

.common-pera {
    padding: 0 24px 24px;
    font-size: 16px;
    color: #0E0E0E;
}

.common-main-heading {
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}

.common-image {
    margin-left: 24px;
    margin-top: 24px;
}

/* Header Section related styles */
.header-container {
    max-width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 31px 0;
}

.header-logo h4 {
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}


/*--- Hero Section related styles ---*/
.hero-container {
    background-color: #C6E4D6;
    max-width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    border-radius: 16px;
    padding: 80px 60px;
}

.hero-txt h2 {
    color: #0E0E0E;
    font-size: 56px;
    font-weight: bold;
    padding-bottom: 10px;
}

.hero-txt p {
    color: #180a0a77;
    font-size: 24px;
    padding-bottom: 10px;
}


/*--- Piller Section Related Styles ---*/
.piller-container {
    max-width: 90vw;
    margin: 0 auto;
    margin-top: 80px;
}

.piller-container h3 {
    margin-bottom: 32px;
}

.piller-card {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.card {
    border: 1px solid #D5D6D8;
    border-radius: 16px;
}

/*---- Vision section related styles ----*/
.vision-container {
    max-width: 90vw;
    margin: 0 auto;
    margin-top: 80px;
}

.vision-card {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.vision-heading p {
    padding-left: 0;
    padding-top: 20px;
}

#cards1 {
    background-color: #5490F5;
    border-radius: 16px;
}

#cards2 {
    background-color: #C6E4D6;
    border-radius: 16px;
}

#cards3 {
    background-color: #F7EBCF;
    border-radius: 16px;
}

.cards button {
    margin-left: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.vision-txt {
    background-color: #FFFFFF;
    margin-top: 32px;
    padding: 48px 24px 20px;
    border: 0.5px solid rgba(0, 0, 0, 0.153);
    border-radius: 16px;
    position: relative;
}

.quote-icon {
    font-size: 70px;
    position: absolute;
    left: 30px;
    top: 30px;
    color: #0E0E0E30;
}

/*----- table section  related styles ------*/
.table-container {
    max-width: 90vw;
    margin: 0 auto;
    margin-top: 80px;
    /* background-color: aqua; */
}

.table-container h3 {
    padding-bottom: 24px;
}

.tbl {
    background-color: #FFFFFF;
    padding: 32px;
    border: 0.5px solid rgba(0, 0, 0, 0.153);
    border-radius: 16px;
}

table {
    border-collapse: collapse;
}

table,
td {
    border: 0.5px solid #0E0E0E;
}

th,
td {
    padding: 24px 36.5px;
}

thead {
    background-color: #C6E4D6;
}

thead tr {
    display: flex;
    justify-content: space-between;
}

tbody tr {
    display: flex;
    justify-content: space-between;
}

.input-btn {
    background-color: #C6E4D6;
    padding: 12px 40px;
    border-radius: 4px;
}

.tbl-dta {
    padding-right: 160px;
}

/*---- news section related styles ---*/
.news-container {
    max-width: 90vw;
    margin: 0 auto;
    margin-top: 80px;
}

.news-heading h3 {
    padding-bottom: 24px;
}

.news-heading p {
    padding-left: 0;
}

.news-card {
    display: flex;
    /* gap: 32px; */
    background-color: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.153);
    border-radius: 16px;
    margin-bottom: 24px;
}

.news-img img {
    margin: 40px;
    border-radius: 16px;
}

.news-txt {
    padding: 56px 0;
}

.news-txt h4 {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 12px;
}

.news-txt img {
    padding-bottom: 12px;
}

.news-txt p {
    padding-left: 0px;
    padding-bottom: 12px;
}

.news-txt button {
    padding: 13px 26px;
    border-radius: 4px;
    font-size: 14px;
}

#left-news-txt {
    padding-left: 48px;
}

/*----- Donate section related styles -----*/
.donate-container {
    max-width: 90vw;
    margin: 0 auto;
    margin-top: 80px;
}

.donate-cards {
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
    gap: 24px;
    margin-bottom: 32px;
}

/* same heading & paragraph */
.same-heading {
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    text-align: center;
    padding-bottom: 24px;

}

.same-para {
    font-size: 16px;
    color: #0E0E0E70;
    text-align: center;
    /* background-color: #5490F5; */
    margin: 0 50px;
    padding-bottom: 32px;
}

.common-donate {
    background-color: #FFFFFF;
    border-radius: 16px;
    border: 0.5px solid rgba(0, 0, 0, 0.153);
}

.common-donate h3 {
    padding: 40px 40px;
}

.amounts {
    background-color: #FFFFFF;
    margin: 0 124px;
}

.amounts p {
    padding: 20px 40px;
    color: #0E0E0E30;
}

/* same button */
.same-btn {
    /* margin: 0 auto; */
    text-align: center;
    margin-top: 32px;
}

.same-btn button {
    font-size: 18px;
    font-weight: bolder;
    background-color: #006A50;
    color: #FFFFFF;
    border-style: none;
    border-radius: 8px;
    padding: 17px 34px;
}

.same-btn button:hover {
    background-color: #FFFFFF;
    color: #006A50;
    cursor: pointer;
}

/*---- subscribe section related styles ----*/
.subscribe-container {
    max-width: 90vw;
    margin: 0 auto;
    margin-top: 80px;
    padding-top: 80px;
    background-color: #C6E4D6;
    border-radius: 16px;
}

.sub-input {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    margin-top: 0px;
}

.sub-input .email-box {
    background-color: #FFFFFF;
    font-size: 16px;
    border-style: none;
    padding: 18px 40px;
    border-radius: 8px 0 0 8px;
    color: #0E0E0E30;
}

.sub-input .email-btn {
    font-size: 18px;
    background-color: #006A50;
    color: #FFFFFF;
    border-radius: 0 8px 8px 0;
    padding: 17px 34px;
    border-style: none;

}

/*----- footer section relaated styles -----*/
.footer-container {
    max-width: 100%;
    margin: 0 auto;
    margin-top: 80px;
    background-color: #FFFFFF;
}

.footer-container h4 {
    max-width: 80vw;
    margin: 0 auto;
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
    border-bottom: 1px solid rgba(0, 0, 0, 0.347);
    padding-top: 50px;
    padding-bottom: 32px;
    text-align: center;
}

.footer-img {
    display: flex;
    justify-content: center;
    gap: 23px;
    padding-top: 32px;
    padding-bottom: 50px;
}

/* responsive related styles */
.hide {
    display: none !important;
}

/* responsive for (max-width: 576px) */
@media screen and (max-width: 576px) {
    .common-main-heading {
        text-align: center;
        font-size: 30px;
    }

    .header-logo h4 {
        font-size: 26px;
    }

    .hero-container {
        flex-direction: column;
        text-align: center;
        padding: 50px 40px 20px;
    }

    .hero-txt h2 {
        font-size: 36px;
    }

    .piller-container h3 {
        font-size: 26px;
        text-align: center;
    }

    .piller-card {
        flex-direction: column;
    }

    .vision-card {
        flex-direction: column;
    }

    .input-btn {

        padding: 10px;
        border-radius: 4px;
    }

    .tbl-dta {
        padding-right: 10px;
    }

    .news-heading {
        text-align: center;
    }

    .news-card {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .news-img {
        margin: 30px auto;
    }

    .news-img img {
        max-width: 75vw;
        margin: 0 auto;
    }

    .news-txt {
        margin: 0 auto;
        padding: 30px;
    }

    .donate-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .amounts .same-para {
        margin: 20px auto;
    }

    .same-heading {
        font-size: 35px;
    }

    .sub-input .email-box {
        font-size: 12px;
        padding: 12px 20px;
    }

    .sub-input .email-btn {
        font-size: 12px;
        padding: 12px 20px;
    }

    .footer-container h4 {
        font-size: 26px;
    }

}


/* responsive for (max-width: 576px) */
@media screen and (min-width: 577px) and (max-width: 992px) {

    .common-main-heading,
    .common-pera {
        text-align: center;
    }

    .hero-container {
        flex-direction: column;
        text-align: center;
        padding: 50px 40px 20px;
    }

    .piller-card {
        flex-direction: column;
    }

    .vision-card {
        flex-direction: column;
    }


    .tbl-dta {
        padding-right: 60px;
    }


    .news-heading {
        text-align: center;
    }

    .news-card {
        flex-direction: column;
        justify-content: center;
    }

    .news-txt {
        margin: 0 auto;
        padding: 30px;
    }

    .donate-cards {
        flex-wrap: wrap;
        justify-content: center;
    }

}